/* font colors */
$primary-color: #d4264f;
$background-color: #ffffff;
$secondary-color: #757575;

$font-color: #2c3e50;
$font-color-secondary: #ffffff;

$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
  Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

//   $font-family: Poppins, Mulish, sans-serif;

$font-heading: 28px;
$font-normal: 14px;

$font-styles: (
  heading: (
    size: 28px,
    weight: 700,
    color: $font-color,
    family: $font-family,
  ),
  sub-heading: (
    size: 20px,
    weight: 600,
    color: $font-color,
    family: $font-family,
  ),
  body: (
    size: 14px,
    weight: 400,
    color: $font-color,
    family: $font-family,
  ),
);

@mixin font-style($type) {
  $style: map-get($font-styles, $type);
  font-size: map-get($style, size);
  font-weight: map-get($style, weight);
  color: map-get($style, color);
  font-family: map-get($style, family);
}

.base-button {
  background-color: $primary-color;
  color: $font-color-secondary;
  border-radius: 4px;
  cursor: pointer;
  text-transform: none;
  transition: background 0.5s, color 0.5s, border 0.5s;

  &:active {
    background-color: $background-color;
    border: 1px solid $primary-color;
    color: $primary-color;
  }
}
